<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="logo"> <a href="<%= root_path %>"><img src="<%= image_url('logo.png') %>" alt="Grupo Guatemala-México"></a> </div>
      </div>
    </div>
  </div>
  <div class="mainmenu-area" id="menu-fixed">
    <div class="container">
      <div class="row" style="text-align: center;"> <a href="<%= root_path %>" class="logo-menu"><img src="<%= image_url('fixed-logo.png') %>" alt="Grupo Guatemala-México" /></a> </div>
      <div class="row" style="margin-top: -15px;">
        <div class="nav-menu">
          <nav class="navbar navbar-default"> 
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar-one bar-stick"></span> <span class="icon-bar-two bar-stick"></span> <span class="icon-bar-three bar-stick"></span> </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>¿Quiénes somos?</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= sobre_path %>">Información del grupo</a></li>
                    <li><a href="<%= antecedentes_path %>">Antecedentes</a></li>
                    <li><a href="<%= propuestas_path %>">Propuestas y acciones</a></li>
                    <li><a href="<%= acciones_path %>">Acciones prioritarias</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Sobre Migración</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= flujos_path %>">Los Flujos migratorios y sus implicaciones</a></li>
                    <li><a href="<%= principios_path %>">Principios que deben regir los procesos migratorios de la región</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Referencias</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= documentos_path %>">Documentos elaborados por el grupo</a></li>
                    <li><a href="<%= libros_path %>">Libros</a></li>
                    <li><a href="<%= articulos_path %>">Artículos</a></li>
                    <li><a href="<%= revistas_path %>">Revistas</a></li>
                    <li><a href="tesis.html">Tesis</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Publicaciones</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="boletines.html">Boletines</a></li>
                    <li><a href="comunicados.html">Comunicados</a></li>
                    <li><a href="cuadernos.html">Cuadernos migratorios</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Videoteca</span></a>
                  <ul class="dropdown-menu">
                    <li><a href="capsulas.html">Cápsulas informativas</a></li>
                    <li><a href="documentales.html">Documentales</a></li>
                    <li><a href="programas.html">Programas televisivos</a></li>
                    <li><a href="conferencias.html">Videos de foros y conferencias</a></li>
                  </ul>
                </li>
                <li><a href="enlaces.html"><span>Enlaces</span></a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse --> 
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header Section --> 
