<%= render 'inicio/header' %>

<!-- Helping Section -->
<section class="section helping-section">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h3>Grupo Guatemala-México</h3>
        <p>El Grupo Guatemala-México, Migración y Desarrollo es una iniciativa ciudadana cuyo propósito es incidir en la formulación y ejecución de políticas migratorias de ambos países.</p>
      </div>
    </div>
    <div class="row">
      <div class="helping-box">
        <div class="helping-list"> 
          <!-- Nav tabs -->
          <ul role="tablist">
            <li role="presentation" class="active"><a href="#help_tab_one" aria-controls="help_tab_one" role="tab" data-toggle="tab"><span>Base documental</span></a></li>
            <li role="presentation"><a href="#help_tab_two" aria-controls="help_tab_two" role="tab" data-toggle="tab"><span>¿Quiénes somos?</span></a></li>
            <li role="presentation"><a href="#help_tab_three" aria-controls="help_tab_three" role="tab" data-toggle="tab"><span>Sobre Migración</span></a></li>
            <li role="presentation"><a href="#help_tab_four" aria-controls="help_tab_four" role="tab" data-toggle="tab"><span>Referencias</span></a></li>
            <li role="presentation"><a href="#help_tab_five" aria-controls="help_tab_five" role="tab" data-toggle="tab"><span>Publicaciones</span></a></li>
            <li role="presentation"><a href="#help_tab_six" aria-controls="help_tab_six" role="tab" data-toggle="tab"><span>Videoteca</span></a></li>
          </ul>
        </div>
        <div class="helping-details"> 
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="help_tab_one">
              <div class="helping-img"> <img src="<%= image_url('base.jpg') %>" alt="Helping Image"> </div>
              <div class="helping-description">
                <p>Es una herramienta tecnológica que permite dar seguimiento al fenómeno migratorio mediante la consulta de diversos tipos de documentos, como son: artículos de investigación y opinión, comunicados, crónicas, editoriales, entrevistas, informes, noticias de prensa y reportajes, entre otros.</p>
                <a href="http://domide.colmex.mx/" class="btn-two" target="_blank">Consultar</a> </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="help_tab_two">
              <div class="helping-description">
                <p style="text-align: center"><img src="<%= image_url('logo.png') %>" alt="Grupo Guatemala-México. Migración y desarrollo" class="img-responsive" style="display: inline-block"></p>
                <p>El Grupo fue producto de una iniciativa ciudadana plural, integrado por <a href="#">veintidós personas</a>, mujeres y hombres, provenientes de sectores diversos de las sociedades de ambos países (México y Guatemala) entre los que se encuentran académicos, organizaciones civiles, religiosas, comunicadores sociales, artistas y empresarios. Todas ellas, personas interesadas en los estudios de la migración y percibiendo al fenómeno como una oportunidad para el desarrollo y el bienestar de ambos países.</p>
                <p>El grupo Guatemala México. Migración y Desarrollo, fue plural y diverso en experiencias, perspectivas e ideas, coadyuvó a la definición de principios y propuestas concretas, como resultado de un ejercicio colectivo de construcción a partir del diálogo, la tolerancia y el respeto a las diferencias.</p>
                <a href="antecedentes.html" class="btn-two">Más información</a> </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="help_tab_three">
              <div class="helping-description">
                <div class="widget">
                  <h3>Los flujos migratorios y sus implicaciones</h3>
                </div>
                <p>Los flujos migratorios entre Guatemala y México han registrado históricamente una dinámica intensa, sobre todo por la participación de trabajadores guatemaltecos que cruzan la frontera terrestre para participar en mercados laborales chiapanecos. A este proceso se sumó la presencia de los refugiados guatemaltecos que se ubicaron en el estado de Chiapas a principios de los años ochenta. Asimismo, desde mediados del decenio de los ochenta, se observó una corriente de personas en tránsito (transmigrantes) procedentes de diversos países de América Latina –incluyendo a Guatemala– y de otros continentes, quienes desde esa época utilizan los territorios guatemalteco y mexicano para dirigirse a Estados Unidos de manera no autorizada.</p>
                <a href="flujos.html" class="btn-two">Más información</a>
                <div class="widget"> <br>
                  <h3>Principios que deben regir los procesos migratorios de la región</h3>
                </div>
                <a href="principios.html" class="btn-two">Más información</a> </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="help_tab_four">
              <div class="helping-description">
                <div class="widget">
                  <h3>Publicaciones de interés</h3>
                </div>
                <ul class="order-list">
                  <li><a href="documentos.html">Documentos elaborados por el grupo</a></li>
                  <li><a href="libros.html">Libros</a></li>
                  <li><a href="articulos.html">Artículos</a></li>
                  <li><a href="revistas.html">Revistas</a></li>
                  <li><a href="tesis.html">Tesis</a></li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="help_tab_five">
              <div class="helping-description">
                <div class="widget">
                  <h3>Publicaciones periódicas</h3>
                </div>
                <ul class="order-list">
                  <li><a href="boletines.html">Boletines</a></li>
                  <li><a href="comunicados.html">Comunicados</a></li>
                  <li><a href="cuadernos.html">Cuadernos migratorios</a></li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="help_tab_six">
              <div class="helping-description">
                <div class="widget">
                  <h3>Videoteca</h3>
                </div>
                <ul class="order-list">
                  <li><a href="capsulas.html">Cápsulas informativas</a></li>
                  <li><a href="documentales.html">Documentales</a></li>
                  <li><a href="programas.html">Programas televisivos</a></li>
                  <li><a href="conferencias.html">Videos de foros y conferencias</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Helping Section --> 
<!-- Upcoming Events Section --> 
<!--section class="section event-section">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h3>Próximos eventos</h3>
        <p>Aenean sollicitudin quis bibendum auctor sagittis awesome theme
          Duis sed odio sit amet nibh vulputate cursus.</p>
      </div>
    </div>
    <div class="row">
      <div class="all-events">
        <div class="col-sm-6 col-xs-12">
          <div class="single-event">
            <div class="event-pic"> <img src="images/event-pic-03.jpg" alt="Event Picture">
              <div class="event-date"> <span class="date">18</span> <span class="year">Jun 2017</span> </div>
            </div>
            <div class="event-info">
              <h4><a href="single_event.html">Título del evento</a></h4>
              <p>Descripción</p>
              <span><i class="fa fa-user" aria-hidden="true"></i> : Participante</span> <span><i class="fa fa-clock-o" aria-hidden="true"></i> : 10:00am - 05:00pm</span> <span><i class="fa fa-home" aria-hidden="true"></i> :  Lugar</span> </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="single-event">
            <div class="event-pic"> <img src="images/event-pic-03.jpg" alt="Event Picture">
              <div class="event-date"> <span class="date">8</span> <span class="year">Jul 2017</span> </div>
            </div>
            <div class="event-info">
              <h4><a href="single_event.html">Título del evento</a></h4>
              <p>Descripción</p>
              <span><i class="fa fa-user" aria-hidden="true"></i> : Participante</span> <span><i class="fa fa-clock-o" aria-hidden="true"></i> : 10:00am - 05:00pm</span> <span><i class="fa fa-home" aria-hidden="true"></i> :  Lugar</span> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section--> 
<!-- End Upcoming Events Section --> 
<!-- Artículos y Noticias -->
<section class="section event-section">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h3>Artículos y noticias</h3>
      </div>
    </div>
    <div class="widget">
      <h3>Eventos</h3>
    </div>
		<% @ads.each_with_index do |a,i| %>
		<% if i % 2 == 0 %>
    <div class="row">
		<% end %>
      <div class="col-sm-6 col-xs-12">
        <div class="single-blog">
          <div class="single-blog-img"> <a href="<%= a.link %>" target="_blank"><img src="<%= a.imagen.url %>" alt="Blog Image"></a> </div>
          <div class="blog-content-box" style="padding-right: 15px;">
            <div class="blog-post-date"> <span><%= a.fecha_pub.mday %></span> <span><%= l a.fecha_pub, format: :mes_anio %></span> </div>
            <div class="blog-content">
              <h4><a href="<% a.link %>" target="_blank"><%= a.titulo %></a></h4>
              <div class="exerpt"><%= a.texto[0..350] + (a.texto.size >= 350 ? "..." : "") %></div>
              <a href="<%= a.link %>" class="btn-two" target="_blank">Leer más</a> 
						</div>
          </div>
        </div>
      </div>
		<% if i % 2 == 1 || i == @ads.size - 1 %>
		</div>
		<% end %>
		<% end %>
      <!--div class="col-sm-6 col-xs-12">
        <div class="single-blog">
          <div class="single-blog-img"> <a href="blog_single.html"><img src="images/home-blog-02.jpg" alt="Image Name"></a> </div>
          <div class="blog-content-box">
            <div class="blog-post-date"> <span>14</span> <span>Nov 2017</span> </div>
            <div class="blog-content">
              <h4><a href="blog_single.html">Título</a></h4>
              <div class="exerpt"> Namnec tellus odio tincidunt auctor ornare that odio.
                vitae erat consequat auctor eu in aelit. Class aptent 
                sociosqu ad litora torquent per conubia nostra. </div>
              <a href="#" class="btn-two">Leer más</a> </div>
          </div>
        </div>
      </div--> 
    </div>
  </div>
</section>
<!-- Fin Artículos y Noticias --> 

<%= render 'inicio/footer' %>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/functions.js"></script>

