<%= render 'inicio/header' %>

<!-- Helping Section -->
<section class="section helping-section">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h3>Libros</h3>
      </div>
    </div>
    <div class="row">
      <div class="helping-box">
        <div class="helping-list"> 
          <!-- Nav tabs -->
          <ul role="tablist">
						<% @anios_libro.each_with_index do |a,i| %>
            <li role="presentation" class="<%= i == 0 ? 'active' : '' %>"><a href="<%= '#' + a.to_s %>" aria-controls="<%= a.to_s %>" role="tab" data-toggle="tab"><span style="font-size: 16px;"><%= a.to_s %></span></a></li>
						<% end %>
          </ul>
        </div>
        <div class="helping-details"> 
          <!-- Tab panes -->
          <div class="tab-content">

<% @anios_libro.each do |a| %>
            <div role="tabpanel" class="tab-pane fade" id="<%= a.to_s %>">
              <div class="helping-description">
                <div class="widget">
                  <h3><%= a.to_s %></h3>
                </div>
                <!-- Inicia estructura Libro -->
                <section class="section team-single" style="padding-top: 0">
                  <div class="container">

<% Book.where("anio = ?",a).each do |b| %> 
                    <!-- Inicia libro -->
                    <div class="row" style="padding-top: 20px">
                      <div class="col-sm-2">
                        <div class="team-member-full-img"> <img src="<%= b.imagen.url %>" alt="Portada de libro"> </div>
                      </div>
                      <div class="col-sm-10">
                        <div class="member-details"> <br>
                          <p><%= b.ficha.gsub(/<\/?((p)|(div))>/,"").html_safe %></p>
													<% if (!b.link.nil? && b.link == "") || b.documento.url != "/documentos/original/missing.png" %>
<a href="<%= b.documento.url != '/documentos/original/missing.png' ? b.documento.url : b.link %>" target="_blank" class="btn-two">Leer</a>
													<% end %> 
                        </div>
                      </div>
                    </div>
                    <br>
                    <!-- Fin de libro --> 
<% end %>
                  </div>
                </section>
                <!-- Fin estructura Libro --> 
              </div>
            </div>
<% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Helping Section -->

<%= render 'inicio/footer' %>

<script src="/js/functions.js"></script>
