<%= form_for(@obj, :remote => true, :url => {:controller => "panel", :action => (action_name == "editar" ? "editar" : "crear"), :params => {:set => params[:set], :id => (@obj.id if action_name == "editar")}}, :html => {:multipart => true}) do |f| %>
  <% if @obj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@obj.errors.count, "error") %> prohibited this frase from being saved:</h2>

      <ul>
      <% @obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <div class="field">
    <%= f.label :titulo, "Título" %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :fecha, "Fecha (si aplica)" %><br>
    <%= f.text_field :fecha, {"data-provide" => "datepicker"} %>
  </div>
  <div class="field">
    <%= f.label :autor, "Autor (si aplica)" %><br>
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label :titulo_evento, "Título del evento (si aplica)" %><br>
    <%= f.text_field :titulo_evento %>
  </div>
  <div class="field">
    <%= f.label :abstract, "Reseña" %><br>
    <%= f.trix_editor :abstract %>
  </div>
  <div class="field" style="overflow:auto;">
		<div style="width:100%">
			<div style="float:left;width:-webkit-calc(50% - 15px);width:-moz-calc(50% - 15px);width:calc(50% - 15px);">
		  <%= f.label :link_vids, "Liga al video" %><br>
			</div>
			<div style="float:left;width:-webkit-calc(50% - 15px);width:-moz-calc(50% - 15px);width:calc(50% - 15px);">
		  <%= f.label :tit_vids, "Título del video" %><br>
			</div>
			<div style="float:left;width:30px;">
			</div>
		</div>
		<div style="float:left;width:-webkit-calc(50% - 15px);width:-moz-calc(50% - 15px);width:calc(50% - 15px);">
    <%= f.text_field :link_vids %>
		</div>
		<div style="float:left;width:-webkit-calc(50% - 15px);width:-moz-calc(50% - 15px);width:calc(50% - 15px);">
    <%= f.text_field :tit_vids %>
		</div>
		<div style="float:left;width:30px;">
    	<span style="font-size:12px;cursor:pointer;" class="glyphicon glyphicon-plus" id="vid-new-0" data-id="0"></span>
    	<span style="font-size:12px;cursor:pointer;" class="glyphicon glyphicon-minus" id="vid-del-0" data-id="0"></span>
		</div>
  </div>
  <div class="actions">
    <%= f.submit "Guardar foro o conferencia" %>
  </div>
<% end %>

<script>
$('#capsule_fecha').datepicker({
    format: 'yyyy-mm-dd',
		language: 'es'
 });
</script>
